<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header.html}">
    <title>Working Time List</title>
</head>
<body>
<div class="container">
    <!-- Content -->
    <h2>Working Time List</h2>
    <form th:action="@{'/work/work-list'}" method="get" id="sortForm">
        <div class="btn-group" role="group" aria-label="Sort by">
            <button type="submit" class="btn btn-secondary" name="sortField" value="id">Sort by ID</button>
            <button type="submit" class="btn btn-secondary" name="sortField" value="createdAt">Sort by Date</button>
            <button type="submit" class="btn btn-secondary" name="sortField"
                    value="currentWorkingTime">Sort by Working Time
            </button>
            <button type="submit" class="btn btn-secondary" name="sortField"
                    value="task">Sort by Task
            </button>
        </div>
    </form>
    <table class="table table-striped">
        <!-- Table Header -->
        <thead>
        <tr>
            <th>ID</th>
            <th>Created Date</th>
            <th>Task</th>
            <th>Task Status</th>
            <th>Working Time</th>
            <th>Current Working Time</th>
            <th>Change Status</th>
        </tr>
        </thead>
        <!-- Table Data -->
        <tbody>
        <tr th:each="workingSession : ${workingTimePage.content}">
            <td th:text="${workingSession.id}"></td>
            <td th:text="${workingSession.createdAt}"></td>
            <td th:text="${workingSession.task.taskName}"></td>
            <td th:text="${workingSession.task.taskStatus}"></td>
            <td th:text="${workingSession.overallWorkingTime}"
                th:id="'overallWorkingTime' + workingSession.id"></td>
            <td th:if="${workingSession.isWorking}"
                th:text="${workingSession.currentWorkingTime}"
                th:id="workingSession"></td>
            <td th:if="${!workingSession.isWorking}"
                th:text="Finished"></td>
            <td>
                <a th:if="${workingSession.isWorking == false}"
                   class="btn btn primary"
                   th:href="@{'/work/start-work/' +${workingSession.id}}">Start Work</a>
                <a th:if="${workingSession.isWorking == true}"
                   th:href="@{'/work/finish-work/' + ${workingSession.id}}"
                   class="btn btn-primary"
                   onclick="alert('Your working time is stopped and added to overall working time.');">Stop Work</a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li th:classappend="${workingTimePage != null && workingTimePage.hasPrevious() ? '' : 'disabled'}">
            <a th:if="${workingTimePage != null && workingTimePage.hasPrevious()}"
               th:href="@{'/work/work-list?page=' + ${workingTimePage.number - 1} + '&sortField=' + ${sortField}}">Previous</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, workingTimePage.totalPages - 1)}">
            <a th:href="@{'/work/work-list?page=' + ${i} + '&sortField=' + ${sortField}}" th:text="${i + 1}"></a>
        </li>
        <li th:classappend="${workingTimePage != null && workingTimePage.hasNext() ? '' : 'disabled'}">
            <a th:if="${workingTimePage != null && workingTimePage.hasNext()}"
               th:href="@{'/work/work-list?page=' + ${workingTimePage.number + 1} + '&sortField=' + ${sortField}}">Next</a>
        </li>
        <li th:classappend="${workingTimePage != null && workingTimePage.isLast() ? 'disabled' : ''}">
            <a th:if="${workingTimePage != null && !workingTimePage.isLast()}"
               th:href="@{'/work/work-list?page=' + ${workingTimePage.totalPages - 1} + '&sortField=' + ${sortField}}">Last</a>
        </li>
    </ul>
</div>
<script src="/js/formatTime.js"></script>
<script src="/js/CurrentWorkingTime.js"></script>
<script src="/js/OverallWorkingTime.js"></script>
</body>
<!-- Footer -->
<div th:insert="~{footer}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
