<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header.html}">
    <title>All Tasks</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Archived list.</h1>
    <div class="row">
        <div class="mt-3">
            <a th:href="${'/task/archived-tasks?sortField=id'}" class="btn btn-primary">Sort by ID</a>
        </div>
        <div class="mt-3">
            <a th:href="${'/task/archived-tasks?sortField=taskName'}" class="btn btn-primary">Sort by task name</a>
        </div>
        <div class="mt-3">
            <a th:href="${'/task/archived-tasks?sortField=description'}" class="btn btn-primary">Sort by task
                description</a>
        </div>
        <div class="mt-3">
            <a th:href="${'/task/archived-tasks?sortField=designer'}" class="btn btn-primary">Sort by designer</a>
        </div>
        <div class="mt-3">
            <a th:href="${'/task/archived-tasks?sortField=createdAt'}" class="btn btn-primary">Sort by created time</a>
        </div>
    </div>
    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Task name</th>
            <th>Description</th>
            <th>Designer</th>
            <th>Created</th>
            <th>Feedback</th>
            <th>Difficulty</th>
            <th>Give us feedback</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="archivedTask : ${archivedTaskPage.content}">
            <td th:text="${archivedTask.id}"></td>
            <td th:text="${archivedTask.taskName}"></td>
            <td th:text="${archivedTask.description}"></td>
            <td th:text="${archivedTask.designer.firstName} + ' ' + ${archivedTask.designer.lastName}"></td>
            <td th:text="${archivedTask.createdAt}"></td>
            <td th:text="${archivedTask.taskFeedback.feedback}">
            <td th:text="${archivedTask.taskFeedback.difficulty}">
            </td>
            <td>
                <a
                        th:if="${user.email == archivedTask.designer.email and !archivedTask.taskFeedback.isSet}"
                        th:href="@{'/task/task-feedback?id=' + ${archivedTask.id}}"
                        class="btn btn-primary">Give Your Feedback</a>
                <button
                        th:if="${user.email != archivedTask.designer.email or archivedTask.taskFeedback.isSet}"
                        class="btn btn-disabled" disabled>Give Your Feedback
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class=" mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, archivedTaskPage.totalPages - 1)}">
                    <a class="page-link"
                       th:href="@{'/task/archived-tasks?page=' + ${pageNumber} + '&sortField?' + ${sortField}}"
                       th:text="${pageNumber + 1}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
<!-- Footer-->
<div th:insert="~{footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>