<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header.html}">
    <title>Edit Task</title>
</head>
<body>
<div class="container mt-5">
    <h2 th:text="'Edit Task ' + ${task.taskName}"></h2>
    <form th:action="@{'/task/edit-task?id='+${task.id}}" method="post" th:object="${task}">
        <div class="form-group">
            <label for="taskName">Task name:</label>
            <input class="form-control" id="taskName" type="text" name="taskName" th:field="*{taskName}" required>
            <small th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}"
                   class="form-text text-danger"></small>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" id="description" type="text" name="description" th:field="*{description}"
                   required>
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                   class="form-text text-danger"></small>
        </div>
        <div class="form-group">
            <label for="designer">Designers:</label>
            <select class="form-control" id="designer" name="designer" th:field="*{designer}" required>
                <option th:each="designer : ${designers}" th:value="${designer.id}"
                        th:text="${designer.firstName}"></option>
            </select>
            <small th:if="${#fields.hasErrors('designer')}" class="form-text text-danger"
                   th:errors="designers"></small>
            <button class="btn btn-primary" onclick="return confirm('Are you sure you want to edit?')">Edit</button>
        </div>
    </form>
</div>
</body>
<!-- Footer-->
<div th:insert="~{footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>