<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header}">
    <title>Error</title>
</head>
<body class="bg-light">
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">An Error Occurred</h4>
                </div>
                <div class="card-body">
                    <th:block th:if="${errorCode}">
                        <p th:text="${errorCode}"></p>
                        <p th:text="${errorMessage}"></p>
                    </th:block>

                    <th:block th:if="${errorList}">
                        <ul>
                            <li th:each="error : ${errorList}" th:text="${error}"></li>
                        </ul>
                    </th:block>

                    <a class="btn btn-primary" href="/">Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</body>
<!-- Footer-->
<div th:insert="~{footer}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>