<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header.html}">
    <title>Main Page</title>
</head>
<!-- Navbar -->
<body>
<!-- Main container-->
<div th:if="${user != null}" class="container-fluid">
    <div class="container-fluid">
        <h1 th:text="'Welcome to the Employee Manager ' + ${user.firstName}" class="display-4 text-center mt-5"></h1>

    </div>
    <div th:if="${user != null}" class="container mt-5">
        <a th:href="@{/task/your-task}" class="btn btn-primary">Your Task</a>
    </div>
    <div th:if="${blockDesignerView}" class="container mt-5">
        <a th:href="@{/edit/add}" class="btn btn-primary">Add Task</a>
    </div>
    <div th:if="${user != null}" class="container mt-5">
        <a th:href="@{/designer/all-designers}" class="btn btn-primary">Show All Designers</a>
    </div>
    <div th:if="${user != null}" class="container mt-5">
        <a th:href="@{/task/all-tasks}" class="btn btn-primary">Show All Tasks</a>
    </div>
    <div th:if="${blockDesignerView}" class="container mt-5">
        <a th:href="@{/task/archived-tasks}" class="btn btn-primary">Show All Archived Tasks</a>
    </div>
    <div th:if="${user != null}" class="container mt-5">
        <a th:href="@{/work/work-list}" class="btn btn-primary">Show Work List</a>
    </div>
    <div th:if="${user != null}" class="container mt-5">
        <a th:href="@{/break-time/break-time-list-for-user}" class="btn btn-primary">Show Break Time List</a>
    </div>
</div>
<div th:if="${user == null}" class="container-fluid">
    <div class="container-fluid">
        <h1 class="display-4 text-center mt-5">Welcome to the Employee Manager guest.</h1>
    </div>
</div>

</body>
<!-- Footer-->
<div th:insert="~{footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
