<!DOCTYPE html>
<html lang="en">
<head th:include="header.html">
    <title>Main Page</title>
</head>
<!-- Navbar -->
<body>
<!-- Main container-->
<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-md-2">
            <div class="list-group">
                <a href="/addEmployee" class="list-group-item list-group-item-action">Add employee</a>
                <a href="/allEmployees" class="list-group-item list-group-item-action">All employees</a>
            </div>
        </div>
    </div>
    <!-- End of side panel -->
    <!-- Content of Index -->
    <div class="container-fluid">
        <h1 class="display-4 text-center mt-5">Welcome to the Employee Manager</h1>
    </div>

</div>
</body>
<!-- Footer-->
<div th:include="footer.html"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
