<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header}">
    <title>Messages</title>
</head>
<body>
<div class="container mt-4">
    <h2>Messages List</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Content</th>
            <th>Sender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.content}"></td>
            <td th:text="${message.sender.firstName} + ' ' + ${message.sender.lastName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<!-- Footer-->
<div th:insert="~{footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>